<div class="d-flex justify-content-between justify-content-lg-start">
    <div class="d-flex align-items-left mb-4 mb-lg-4"><b>Productos</b></div>
    <div class="d-flex flex-wrap ms-auto">
    <form class="">
        <input type="text" name="cadena" id="cadena" 
        placeholder="Buscar..."
        aria-label="Busqueda"
        [(ngModel)]="cadenaBusqueda"
        (keydown.enter)="buscarProductos()"
        >
    </form>
    <div class="ms-5">
        <button (click)="mostrarFormulario()" class="btn btn-dark">Agregar</button>
    </div>
    </div>
</div>

@if (formularioVisible) {
    <app-formulario-producto (guardado)="guardarProducto($event)" (cancelacion)="ocultarFormulario()"/>
}

<div class="container">
    <div class="row">
    <div id="productos" class="col col-md-9">
        <div class="row row-cols-md-2">
    @for (p of listaProductos; track p) {
        <app-ficha-producto [producto]="p"/>
    }
        </div>
    </div>
    <div class="col">
        <div id="carrito"><app-carrito/></div>
    </div>
    </div>
</div>