* {
    font-family: Helvetica, Arial, sans-serif
}
#productos {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-bottom: 20px;
    width: 80%;
}
#carrito {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}