<h2>Productos</h2>

@if (formularioVisible) {
    <app-formulario-producto (guardado)="guardarProducto($event)" (cancelacion)="ocultarFormulario()"/>
}

<div id="productos">
<div id="busqueda">
    <input type="text" name="cadena" id="cadena" [(ngModel)]="cadenaBusqueda" (keydown.enter)="buscarProductos()">
    <button (click)="buscarProductos()">Buscar</button>
    <button (click)="cargarTodos()">Limpiar</button>
</div>
<div><button (click)="mostrarFormulario()">Agregar producto</button></div>


@for (p of listaProductos; track p) {
    <app-ficha-producto [producto]="p"></app-ficha-producto>
}
</div>
<div id="carrito"><app-carrito/></div>